<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ting.androidexample"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> 
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activities.ExampleActivity"
            android:label="@string/title_activity_example" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.DownloadActivity"/>
        <activity android:name=".ui.activities.AIDLActivity"/>
        <activity android:name=".ui.activities.AlertDialogActivity"/>
        <activity android:name=".ui.activities.DragListViewActivity"/>
        <activity android:name=".ui.activities.NotificationActivity"/>
        <activity android:name=".ui.activities.JsonActivity"/>
        <activity android:name=".ui.activities.StringBuilderActivity"/>
        <activity android:name=".ui.activities.MultiParamActivity"/>
        <activity android:name=".ui.activities.ReflexActivity"/>
        <activity android:name=".ui.activities.KeyguardActivity"/>
        <activity android:name=".ui.activities.ResolveInfoActivity"/>
        <activity android:name=".ui.activities.InnerReceiverActivity"/>
        <activity android:name=".ui.activities.WebViewActivity"/>
        <activity android:name=".ui.activities.AccountActivity"/>
        <activity android:name=".ui.activities.VisitJarServiceActivity"/>
        <activity android:name=".ui.activities.SettingsActivity"/>
        <activity android:name=".ui.activities.NetworkActivity"/>
        <activity android:name=".ui.activities.LocationActivity"/>
        <activity android:name=".ui.activities.RestartServiceActivity"/>
        <activity android:name=".ui.activities.FileActivity"/>
        <activity android:name=".ui.activities.GsonActivity"/>
        <activity android:name=".ui.activities.PathActivity"/>
        <activity android:name=".ui.activities.ZipActivity"/>
        <activity android:name=".ui.activities.HttpActivity"/>
        <activity android:name=".ui.activities.StatFsActivity"/>
        <activity android:name=".ui.activities.SimActivity"/>
        
        <service android:name=".services.ClientService"/>
        <service android:name=".services.AIDLService"/>
        <service android:name=".services.LocalServerSocketService"/>
        <service android:name=".services.IntentServiceDemo"/>
        <service android:name=".services.InnerReceiverService"/>
        <service android:name=".services.JarService"/>
        <service android:name=".services.SelfRestartService"/>
        
        <receiver android:name=".receivers.Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.ting.action.SEND_INTENT"/>
            </intent-filter>
            <intent-filter>
              	<action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
